
<div class="row">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ company }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <a class="dropdown-item" (click)="onChangeReview('Google Reviews')">Google Reviews</a>
      <div *ngIf="inUSA === true">
        <a class="dropdown-item" (click)="onChangeReview('Yelp Reviews')">Yelp Reviews</a>
      </div>
    </div>
  </div>

  <div style="position: absolute; left: 160px;" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ order }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      <a class="dropdown-item" (click)="onChangeOrder('Default Order')">Default Order</a>
      <a class="dropdown-item" (click)="onChangeOrder('Highest Rating')">Highest Rating</a>
      <a class="dropdown-item" (click)="onChangeOrder('Lowest Rating')">Lowest Rating</a>
      <a class="dropdown-item" (click)="onChangeOrder('Most Recent')">Most Recent</a>
      <a class="dropdown-item" (click)="onChangeOrder('Least Recent')">Least Recent</a>
    </div>
  </div>
</div>

<div class="row">
  <div [@googleState]="state" style="width: 100%;">
    <div *ngIf="company === 'Google Reviews'">
    <div *ngIf="googleReviews === null || googleReviews === undefined">
      <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
        No records.
      </div>
    </div>

    <div *ngFor="let review of googleReviews;" class="roundCorner">
      <div style="position: absolute;">
        <div style=" width: 48px; height: 48px">
          <a target="_blank" href="{{ review.author_url }}"><img style="width: 100%; height: 100%" src="{{ review.profile_photo_url }}"></a>
        </div>
      </div>
      <div style="margin-left: 64px;">
        <div style="position: relative;">
          <div>
            <a href="{{ review.author_url }}" target="_blank"><span>{{ review.author_name }}</span></a>
            <div>
              <span class="star" *ngIf="review.rating == 1">★</span>
              <span class="star" *ngIf="review.rating == 2">★★</span>
              <span class="star" *ngIf="review.rating == 3">★★★</span>
              <span class="star" *ngIf="review.rating == 4">★★★★</span>
              <span class="star" *ngIf="review.rating == 5">★★★★★</span>

              <span>{{ review.time * 1000 | date:'y-MM-dd HH:mm:ss' }}</span></div>
            <div>{{ review.text }}</div>
          </div>
        </div>
      </div>
    </div>


  </div>
  </div>

  <div [@yelpState]="state" style="width: 100%;">
    <div *ngIf="company === 'Yelp Reviews'" >

    <div *ngIf="yelpReviews === null || yelpReviews === undefined">
      <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
        No records.
      </div>
    </div>

    <div *ngFor="let review of yelpReviews;" class="roundCorner">
      <div style="position: absolute;">
        <div style=" width: 48px; height: 48px">
          <a target="_blank" href="{{ review.url }}"><img style="width: 100%; height: 100%; border-radius: 50%;" src="{{ review.user.image_url }}"></a>
        </div>
      </div>
      <div style="margin-left: 64px;">
        <div style="position: relative;">
          <div>
            <a href="{{ review.url }}" target="_blank"><span>{{ review.user.name }}</span></a>
            <div>
              <span class="star" *ngIf="review.rating == 1">★</span>
              <span class="star" *ngIf="review.rating == 2">★★</span>
              <span class="star" *ngIf="review.rating == 3">★★★</span>
              <span class="star" *ngIf="review.rating == 4">★★★★</span>
              <span class="star" *ngIf="review.rating == 5">★★★★★</span>

              <span>{{ review.time_created }}</span></div>
            <div>{{ review.text }}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

</div>






