<div style="margin-bottom: 10px">
  <div class="row justify-content-end">
    <div class="col-xs-12">
      <button type="button"
              class="btn btn-outline-secondary"
              [disabled]="detailPlace == undefined"
              (click)="getDetail(detailPlace.placeid, detailPlace.lat, detailPlace.lng)"
              >Details <i class="fas fa-angle-right"></i></button>
    </div>
  </div>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Favorite</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let place of places; let i = index"
          [ngClass]="{detailBackground: detailPlace != undefined && place.place_id === detailPlace.placeid}">
        <th scope="row">{{ i+1 }}</th>
        <td><div class="icon"><img class="iconimage" src="{{ place.icon }}"></div></td>
        <td>{{ place.name }}</td>
        <td>{{ place.vicinity }}</td>
        <td><button type="button" class="btn btn-outline-secondary"><i class="fas fa-star"></i></button></td>
        <td><button type="button"
                    class="btn btn-outline-secondary"
                    (click)="getDetail(place.place_id, place.geometry.location.lat, place.geometry.location.lng)"
                    ><i class="fas fa-angle-right"></i></button></td>

      </tr>
    </tbody>
  </table>
</div>

<div class="row justify-content-center">
  <button *ngIf="hasPrev"
          type="button" class="btn btn-outline-secondary"
          (click)="onPage('previous')"
          >Previous</button>
  <button *ngIf="hasNext"
          type="button" class="btn btn-outline-secondary"
          (click)="onPage('next')"
          >Next</button>
</div>

