<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-outline-secondary">Details <i class="fas fa-angle-right"></i></button>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Favorite</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let place of places; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td><img src="{{ place.icon }}"></td>
        <td>{{ place.name }}</td>
        <td>{{ place.vicinity }}</td>
        <td><i class="far fa-star"></i></td>
        <td><i class="fas fa-angle-right"></i></td>
      </tr>
    </tbody>
  </table>
</div>
