<div #dummy></div>

<table class="table table-striped">
  <tbody>
  <tr>
    <th scope="row">Address</th>
    <td id="detailaddress"></td>
  </tr>
  <tr>
    <th scope="row">Phone Number</th>
    <td id="detailphone"></td>
  </tr>
  <tr>
    <th scope="row">Price Level</th>
    <td id="detailprice"></td>
  </tr>
  <tr>
    <th scope="row">Rating</th>
    <td id="detailrating"><span id="detail-star">★</span></td>
  </tr>
  <tr>
    <th scope="row">Google Page</th>
    <td id="detailgooglepage"></td>
  </tr>
  <tr>
    <th scope="row">Website</th>
    <td id="detailwebsite"></td>
  </tr>
  <tr>
    <th scope="row">Hours</th>
    <td id="detailhours"></td>
  </tr>
  </tbody>
</table>


