<div #dummy></div>

<table class="table table-striped">
  <tbody>
  <tr id="detailaddress-row">
    <th scope="row">Address</th>
    <td id="detailaddress"></td>
  </tr>
  <tr id="detailphone-row">
    <th scope="row">Phone Number</th>
    <td id="detailphone"></td>
  </tr>
  <tr id="detailprice-row">
    <th scope="row">Price Level</th>
    <td id="detailprice"></td>
  </tr>
  <tr id="detailrating-row">
    <th scope="row">Rating</th>
    <td id="detailrating"><span id="detail-star">★</span></td>
  </tr>
  <tr id="detailgooglepage-row">
    <th scope="row">Google Page</th>
    <td id="detailgooglepage"></td>
  </tr>
  <tr id="detailwebsite-row">
    <th scope="row">Website</th>
    <td id="detailwebsite"></td>
  </tr>
  <tr id="detailhours-row">
    <th scope="row">Hours</th>
    <td id="detailhours"><span id="detailPopupButton">Daily open hours</span></td>
  </tr>
  </tbody>
</table>

<div id="detailPopup">
  <div class="modal-header">
    <h5 class="modal-title">Open hours</h5>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul id="detailPopupList" class="list-group list-group-flush">
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn btn-secondary">Close</button>
  </div>
</div>


