
<div class="row">

    <div class="card-columns">

        <div class="card">
          <img class="img-thumbnail w-100" src="https://source.unsplash.com/mEZ3PoFGs_k">
        </div>


        <div class="card">
          <img class="img-thumbnail" src="https://source.unsplash.com/-UUGr3txNuc">
        </div>

    </div>

</div>



<!--<div class="row">-->
  <!--<div class="col-12 col-md-3 flex-column d-flex">-->
      <!--<img class="img-thumbnail w-100" src="https://source.unsplash.com/mEZ3PoFGs_k">-->
  <!--</div>-->
  <!--<div class="col-12 col-md-3 flex-column d-flex">-->
    <!--<img class="img-thumbnail w-100" src="https://source.unsplash.com/-UUGr3txNuc">-->
  <!--</div>-->

  <!--<div class="col-12 col-md-3 flex-column d-flex">-->
    <!--<img class="img-thumbnail w-100" src="https://source.unsplash.com/mEZ3PoFGs_k">-->
  <!--</div>-->
  <!--<div class="col-12 col-md-3 flex-column d-flex">-->
    <!--<img class="img-thumbnail w-100" src="https://source.unsplash.com/-UUGr3txNuc">-->
  <!--</div>-->

  <!--<div class="col-12 col-md-3 flex-column d-flex">-->
    <!--<img class="img-thumbnail w-100 my" src="https://source.unsplash.com/mEZ3PoFGs_k">-->
  <!--</div>-->
  <!--<div class="col-12 col-md-3 flex-column d-flex">-->
    <!--<img class="img-thumbnail w-100" src="https://source.unsplash.com/-UUGr3txNuc">-->
  <!--</div>-->

  <!--<div class="col-12 col-md-3 flex-column d-flex">-->
    <!--<img class="img-thumbnail w-100" src="https://source.unsplash.com/mEZ3PoFGs_k">-->
  <!--</div>-->
  <!--<div class="col-12 col-md-3 flex-column d-flex">-->
    <!--<img class="img-thumbnail w-100" src="https://source.unsplash.com/-UUGr3txNuc">-->
  <!--</div>-->
<!--</div>-->



