


  <div class="row justify-content-center">
    <h1 id="detailheader" [attr.value]="placeheader"></h1>
  </div>
  <div class="row justify-content-between">
    <button type="button"
            class="btn btn-outline-secondary"
            (click)="onShowList()"
    ><i class="fas fa-angle-left"></i> List</button>
    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-star"></i></button>
  </div>



  <app-detail-header (detailSelected)="onDetailSelected($event)"></app-detail-header>
  <app-detail-info *ngIf="detailSelected === 'info'"
                   [placeid]="placeid"
                   (sendPlace)="onSendPlace($event)"
  ></app-detail-info>

  <app-detail-photo *ngIf="detailSelected === 'photo'" [place]="place"></app-detail-photo>
  <app-detail-map *ngIf="detailSelected === 'map'"
                  [place]="place"
                  [detailLat]="detailLat"
                  [detailLng]="detailLng"
                  [currentLat]="currentLat"
                  [currentLng]="currentLng"
  ></app-detail-map>
  <app-detail-review *ngIf="detailSelected === 'review'"></app-detail-review>


