<div style="margin-bottom: 60px">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <button class="btn"
              [ngClass]="{primary: feature === 'results', notSelectedButton: feature === 'favorites'}"
              type="button"
              (click)="onSelect('results')">Results</button>
      <button class="btn"
              [ngClass]="{primary: feature === 'favorites', notSelectedButton: feature === 'results'}"
              type="button"
              (click)="onSelect('favorites')">Favorites</button>
    </div>
  </div>
</div>
