
.icon {
  height: 30px;
  width: 30px;
}

.iconimage {
  height: 100%;
  width: 100%;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > tbody > tr > th {
  vertical-align: middle;
}

.detailBackground {
  background-color: rgb(245, 218, 152);
}


.scrollable {
  overflow-x: auto;
}

@media (min-width: 300px) {
  .scrollable {
    display: block;
    white-space: nowrap;
  }
}

@media (min-width: 1100px) {
  .scrollable {
    display: table;
    white-space: normal;
  }
}
