
.icon {
  height: 30px;
  width: 30px;
}

.iconimage {
  height: 100%;
  width: 100%;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > tbody > tr > th {
  vertical-align: middle;
}

.detailBackground {
  background-color: rgb(245, 218, 152);
}

.scrollable {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
